body {
  background-color:#091221;  
}


/* -------HEADER----------------- */
.header {
    background: url('../images/header-base-dark.jpg');
    /* filter: blur(9px); */
    /* transform: matrix(1, 0, 0, -1, 0, 0);     */
}

.header-menu a {
    color: white;
}
/* -------SECTION-1----------------- */
.section1 {
    background: url('../images/dark-screen-image.jpg') no-repeat 0% 0%;
background-color:#091221;

}
.section1-left-link,.infoblock-right-link {
  color:#53F3CD;  
}
.section1-left-link::after,.infoblock-right-link::after {
border-color:#53F3CD;
 opacity:.3; 
}

.section1-left-title, .section1-left-info {
    color: white;
}
.section1-info-block {
background:#161926; 
opacity:.9;
}
.infoblock-left-text {
    color:white;
}
.infoblock-left-text:not(:first-child)::before {
background:#689FF2;
    
}
.infoblock-right-info {
  color:white;
  opacity:.6;
}
/* -------SECTION-2----------- */
.section2 {
background-color:#091221;

}
.section2-card-title {
color:white;

}
.section2-card-title span {
color:#496da6;

}
.section2-card-title::before {
background-color:#515773;

}
.section2-card-info {
  color:white;
  opacity:.5;
}


/* -------SECTION-4-------- */

.section4-title {
color:white;

}
.section4-title span {
color:#496da6;

}
.section4-sub-info {
  color:white;
  opacity:.6;
}
/* -------SECTION-5-------- */
.section5-right-block {
background-color:#161926;
color:white;  
}
.section5-right-block-info {
opacity:.5;

}
.section5-card-button {
background-color:#161926;
border-color:#515773;
 color:#53F3CD; 
}
.section5-card-button::before {
background-color:#53F3CD;

}

/* -------SECTION-6--SLIDER-BLOCK----- */
.slider-item-title {
color:white;

}
.slider-item-title span {
color:#496da6;

}
.slider-item:first-child .slider-item-info {
  color:white;
opacity:.6;
  }

/*  -------SECTION-7-FORM--------  */

.section7 {
color:white;

}
.section7-left-block-title {
color:white;

}
.section7-left-block-title span {
color:#496da6;

}
.section7-left-block-info {
 opacity:.6; 

}
.section7-form {
color:rgb(254 254 254 / 60%);

}
.section7-form input {
background-color:#091221;

}
.section7-form label::after {
background-color:rgb(255 254 254 / 50%);

}
.section7-form button {
background-color:#091221;
color:#53F3CD;  
}
.section7-form button::after {
background-color:#53F3CD;
  
}